<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">

<header>
</header>

<main>
    <div id="root" class="jumbotron">
    </div>
</main>

<footer>
    <script type="text/javascript" defer src="static/javascript_bundle.js"></script>
</footer>
</body>
</html>